* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: #ef32d9; /* Para navegadores antiguos */
  background: -webkit-linear-gradient(
    #89fffd,
    #ef32d9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    #89fffd,
    #ef32d9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.contenedor {
  width: calc(100% - 28px);
  background-color: white;
  margin: 20px 14px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-principal {
  flex-direction: column;
}
.navegacion-principal {
  width: 100%;
  height: 45px;
  justify-content: space-between;
  padding: 0 3%;
}
.logo {
  width: 120px;
  height: 100%;
  font-family: "Fondamento", cursive;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: bolder;
}
.hamburguesa {
  width: 50px;
  height: 100%;
  flex-direction: column;
}
.linea-hamburguesa {
  width: 50%;
  height: 1px;
  background: rgb(65, 65, 65);
  margin: 4px;
}
.contenedor-titulo-principal {
  width: 100%;
  height: 400px;
  position: relative;
}
.texto-background {
  position: absolute;
  width: 100%;
  font-size: clamp(3.1rem, 13vw, 12rem);
  color: rgba(0, 0, 0, 0.055);
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  overflow: hidden;
}
.titulo-principal {
  width: 100%;
  text-align: center;
  font-size: clamp(2.3rem, 4vw, 4rem);
  font-family: "Montserrat", sans-serif;
  z-index: 1;
  padding: 0 10px;
}
.efecto-titulo {
  color: rgb(255, 42, 106);
  font-style: italic;
  font-family: "PT Serif", serif;
  font-weight: 900;
  width: 230px;
  display: inline-block;
  text-align: center;
  opacity: 1;
}
@media (min-width: 550px) {
  .efecto-titulo {
    text-align: left;
  }
}
.contenedor-filtro {
  width: 100%;
  height: 80px;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-transform: capitalize;
}
.clickeable {
  height: 40px;
  width: 50%;
  max-width: 200px;
}
.menu-categorias {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  display: flex;
  flex-wrap: wrap;
}
.cuadrado-categorias {
  width: 7px;
  height: 7px;
  background: black;
  margin: 1px;
}

.contenedor-categorias {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;
  display: none;
}
.display {
  display: flex;
}
.categoria {
  padding: 5px 10px;
  margin: 5px 5px;
  background: none;
  border: 1px solid rgb(238, 238, 238);
  color: rgb(90, 90, 90);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.082);
}

/*CONTENEDOR IMAGENES*/
.contenedor-imagenes {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
}
.imagenes {
  margin: 0;
  padding: 0;
  flex-basis: 100%;
  overflow: hidden;
  position: relative;
}
.imagenes:hover .hover-imagenes {
  opacity: 1;
  transform: rotateX(0deg);
}

.hover-imagenes {
  width: 80%;
  height: 80%;
  max-width: 350px;
  max-height: 350px;
  background: rgba(255, 255, 255, 0.938);
  position: absolute;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Montserrat", sans-serif;
  transform: rotateX(0deg);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.tag {
  text-transform: capitalize;
  padding: 3px 7px;
  margin-bottom: 15px;
  font-size: clamp(0.6rem, 3vw, 0.9rem);
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 42, 106, 0.288);
  font-weight: bold;
}
.autor {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(1.3rem, 6vw, 1.8rem);
  font-style: italic;
}
.descripcion {
  padding: 5px 0;
  height: 50%;
  font-size: clamp(0.8rem, 5vw, 1.4rem);
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  font-family: "PT Serif", serif;
  line-height: 1.6;
}
.btn-hover {
  padding: 5px 10px;
  align-self: flex-end;
  margin-top: auto;
  background: rgb(255, 42, 106);
  border: none;
  color: white;
}

@media (min-width: 470px) {
  .tag {
    margin-bottom: 35px;
  }
  .btn-hover {
    padding: 10px 18px;
  }
}
@media (min-width: 760px) {
  .tag {
    margin-bottom: 15px;
  }
}
@media (min-width: 925px) {
  .tag {
    margin-bottom: 35px;
  }
}

.imagenes:hover .imagenes-principales {
  transform: scale(1.1);
}
.imagenes-principales,
img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 760px) {
  .imagenes {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .imagenes {
    flex-basis: 33.3333%;
  }
}

.contenedor-servicios {
  width: 100%;
  padding: 70px 0;
  flex-wrap: wrap;
}
.contenedor-titulo-secundario {
  width: 100%;
  margin: 50px 0;
}
.titulo-secundario {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 0 15px;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}
.span-servicio {
  font-family: "PT Serif", serif;
  font-weight: 600;
}
.servicios {
  width: 100%;
  margin: 25px 0;
  font-family: "Montserrat", sans-serif;
  max-width: 450px;
}
.icono {
  width: 100%;
  height: 100px;
  font-size: 4rem;
  color: rgb(255, 42, 106);
}
.titulos-servicios {
  width: 100%;
  text-align: center;
  padding: 15px 0;
}
.textos-servicios {
  width: 100%;
  text-align: center;
  line-height: 1.7;
  font-size: 0.95rem;
  padding: 15px 5px;
  color: rgb(75, 75, 75);
  margin: 0 auto;
  height: 120px;
  font-family: "Work Sans", sans-serif;
}
.contenedor-boton-servicios {
  width: 100%;
  margin-top: 15px;
}
.btn-contacto {
  padding: 15px 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: rgb(255, 42, 106);
  border: none;
  color: white;
  letter-spacing: 0.5px;
}
@media (min-width: 850px) {
  .contenedor-servicios {
    justify-content: space-evenly;
  }
  .servicios {
    width: 30%;
  }
}
footer {
  width: 100%;
  color: white;
  background: black;
  font-family: "Montserrat", sans-serif;
  padding: 70px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.contacto,
.contenedores-footer {
  width: 100%;
  max-width: 250px;
  margin-bottom: 25px;
}
.titulo-footer {
  margin-bottom: 15px;
  font-size: 1.3rem;
}
.saludo {
  font-size: 1.8rem;
}
.texto-footer {
  color: rgb(124, 124, 124);
  margin: 5px 0;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}
.listas-footer {
  display: flex;
  width: 100%;
}
.ul-footer {
  list-style: none;
  text-transform: capitalize;
  width: 50%;
}
@media (min-width: 600px) {
  footer {
    justify-content: space-evenly;
  }
}

.contenedor-imagen-flotante {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.644);
  transition: all 0.3s ease-in-out;
}
.contenedor-imagen {
  width: 91%;
  max-width: 750px;
  min-height: 270px;
  max-height: 750px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.btn-cerrar {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -55px;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.linea-cerrar {
  width: 30px;
  height: 2px;
  background: white;
  transform: rotate(135deg);
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.linea-cerrar:nth-child(2) {
  transform: rotate(-135deg);
}
.btn-cerrar:hover .linea-cerrar {
  transform: rotate(45deg);
  background: rgb(255, 42, 106);
}
.btn-cerrar:hover .linea-cerrar:nth-child(2) {
  transform: rotate(-45deg);
}
.btn-izquierda {
  position: absolute;
  bottom: -50px;
  left: 55px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  outline: none;
}
.btn-derecha {
  position: absolute;
  bottom: -50px;
  right: 55px;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
  outline: none;
}
.btn-derecha:hover,
.btn-izquierda:hover {
  color: rgb(255, 42, 106);
}
